HOMEWORK 01

In [78]:
import pandas as pd
import numpy as np

Q1. Pandas version

What version of Pandas did you install?

In [79]:
pd.__version__

'2.3.3'

Getting the data

In [80]:
df = pd.read_csv('../data/car_fuel_efficiency.csv')
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q2. Records count

How many records are in the dataset? Ans: 9704

In [81]:
df.index

RangeIndex(start=0, stop=9704, step=1)

Q3. Fuel types

How many fuel types are presented in the dataset? Ans: 2

In [82]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

Q4. Missing values

How many columns in the dataset have missing values? Ans: 4

In [83]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia? Ans: 23.75

In [84]:
df[df['origin'] == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

Q6. Median value of horsepower

1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

Has it changed? Yes, it increased

In [85]:
df['horsepower'].median()

np.float64(149.0)

In [86]:
horsepower_mode = df['horsepower'].mode()

In [87]:
df['horsepower'] = df['horsepower'].fillna(value=horsepower_mode[0])

In [88]:
df['horsepower'].median()

np.float64(152.0)

Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX
6. Invert XTX
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
9. What's the sum of all the elements of the result? Ans: 0.51

In [91]:
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [105]:
XTX = X.T.dot(X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [106]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [107]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [108]:
w = (XTX_inv.dot(X.T)).dot(y)
w

array([0.01386421, 0.5049067 ])

In [109]:
ans = w[0] + w[1]
ans

np.float64(0.5187709081074016)